/*.imageCard {*/
/*  text-align: center;*/
/*}*/

/*.imageCard img {*/
/*  width: 600px;*/
/*}*/

/*.backdrop {*/
/*  position: relative;*/
/*  background-color: black;*/
/*  !*top: 0;*!*/
/*  !*left: 0;*!*/
/*  !*right: 0;*!*/
/*  !*bottom: 0;*!*/
/*  z-index: 5; !* Задний план должен быть на самом нижнем слое *!*/
/*}*/

/*.crop-container {*/
/*  !*position: fixed;*!*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  !*top: 0;*!*/
/*  !*left: 0;*!*/
/*  !*right: 0;*!*/
/*  bottom: 80px;*/
/*  z-index: 10; !* Обеспечиваем, что контейнер с изображением находится на переднем плане *!*/
/*}*/

/*.controls {*/
/*  position: fixed;*/
/*  bottom: 0px;*/
/*  width: 100%;*/
/*  height: 80px;*/
/*  z-index: 20; !* Контейнер с кнопками будет выше *!*/
/*}*/

/*.controls-upper-area {*/
/*  text-align: center;*/
/*}*/

/*.slider {*/
/*  width: 50%;*/
/*}*/

/*.button-area {*/
/*  text-align: center;*/
/*  margin-top: 20px;*/
/*}*/
/*button {*/
/*  margin-left: 10px;*/
/*  margin-right: 10px;*/
/*  background-color: black;*/
/*  color: white;*/
/*  border: 1px solid yellow;*/
/*  font-size: 20px;*/
/*}*/

.imageCard {
  /*text-align: center;*/
  position: relative;
}

.imageCard img,
.imageCard .crop-container {
  /*max-width: 30vh;*/
  /*max-height: 30vh;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*object-fit: contain;*/
  width: 30vw;
  height: 30vh;
  object-fit: contain;
}

.crop-container {
  position: relative;
  z-index: 10;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 20;
}
